{% extends "pages/base.html" %} {% block title %}Power Creator | Synergia{% endblock %}

{% block content %}
<div id="app">
    <h1>Power Creator</h1>
    <p>Welcome to the creation system.</p>

    <input type="text" v-model="nomePoder" placeholder="Power name">
    <p>Power: {{ nomePoder }}</p>
</div>
{% endblock %}

{% block extra_js %}
<script>
    const App = {
        data() {
            return { nomePoder: '' }
        }
    }
    Vue.createApp(App).mount('#app')
</script>
{% endblock %}