{% extends "pages/base.html" %}

{% block title %}{{ title }} | Synergia RPG{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Bem-vindo ao Synergia!</h1>
    <p class="lead">O sistema de RPG focado em manipulação elemental e cooperação.</p>
    <hr class="my-4">
    <p>Acesse o menu acima para criar seus poderes ou gerenciar a campanha.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'synergia:criador-poderes' %}" role="button">Criar Poder</a>
</div>
{% endblock %}