{% extends "pages/base.html" %}

{% block title %}{{ title }} | Synergia RPG{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to Synergia!</h1>
    <p class="lead">The RPG system focused on elemental manipulation and cooperation.</p>
    <hr class="my-4">
    <p>Access the menu above to create your powers or manage the campaign.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'synergia:criador-poderes' %}" role="button">Create Power</a>
</div>
{% endblock %}