<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/vue@3"> </script>
</head>

<body>
    <div id="app">
        <!-- Vue was initialized under the name 'app', so it only sees and
    works with what is inside this <div id ="app">  HERE  </>div>   -->
        <p>
            <input type="text" v-model="hello">
        </p>
        <p>
            {{hello}} ( {{hello.length}} )
        </p>
    </div>
    <script>
        Vue.createApp({

            data() {
                return {
                    hello: "Hello User"
                }
            },

            mounted() {
                <!--  the mounted function "fires", i.e., activates, when the page is loaded or reloaded-->
                alert('ALERT');
            }

        }).mount('#app');
    </script>

</body>

</html>